
.pic4 {
    height: 200px;
    width: 175px;
    border: #ffda2c;
    border-style: groove;
    border-width: thick 30px;
}

.pic5 {
    height: 200px;
    width: 125px;
    border: #b24836;
    border-style: groove;
    border-width: thick 30px;
}

.pic6 {
    height: 200px;
    width: 175px;
    border: #b29e57;
    border-style: groove;
    border-width: thick 30px;
}
.pic7 {
    height: 200px;
    width: 125px;
    border: #62b228;
    border-style: groove;
    border-width: thick 30px;
}


